

<ion-content class="dark-background" >
  <img src="../assets/logo_golden.png" alt="">
  
        <div class="login-section"> 
         
        
         
            <div class="text-white">
              <ion-input placeholder="Usuario" name="email" type="email" [(ngModel)]="email"></ion-input>
            </div>
            <div class="text-white">
              <ion-input placeholder="Password" type="password" name="password" [(ngModel)]="password"></ion-input>             
            </div>           
            
            <ion-button class="button-rounded" size="large" (click)="login()">Login</ion-button>
               
        </div>  
       
  
  


</ion-content>

